@import 'main.css';

.float-btn { 
    /* background: var(--abu-dark); */
    position: relative;
    width: 70px;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* padding: 0 40px; */
    align-items: center;
    position: fixed;
    top: var(--navbar-height);
    right: 8vh;
    z-index: 990;
    font-size: 1.5em;
}
.add-btn {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 100%;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    background-color: var(--oranye-dark);
    color: var(--abu-light);
    box-shadow: 0 0 4px #000;
    /* z-index: 900;
    position: fixed; */
    border-radius: 0 0 100% 100%;
    cursor: pointer;
}

.modal {
    display: none;
    opacity: 0;

    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .3);
    transition: .2s ease;
}
.modal.show {
    display: flex !important;
    opacity: 1 !important;
}
.modal-container {
    position: relative;
    width: 720px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    max-height: calc(100% - var(--navbar-height));
    background: #fff;
    margin: auto;

}
.modal-head {
    height: 2em;
    display: flex;
    pointer-events: none;
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;
    padding: 5px 10px;
    background: var(--oranye-dark);
    color: #fff;
    align-items: center;
}
.modal-head .close-btn {
    color: inherit;
    pointer-events: all;
    border-radius: 5px 5px 0px 0px;
}
.close-btn:hover {
    color: var(--abu-light);
}
.modal-body {
    overflow-y: scroll;
    max-height: 540px;
    padding: 1em;
}